/* global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

.header-main {
  width: 100%;
  height: 40px;
  background: #0a192f;
  justify-content: space-between;
}

.header-main-nav {
  text-align: right;
  height: 100%; 
}

.header-main-nav ul {
  /* gets rid of bullet points */
  list-style: none; 
}


.header-main-nav li {
  display: inline-block; 
}


.header-main-nav li a {
  padding: 0 10px 0 10px;
  text-decoration: none;  
  color: white;
}

.header-main-nav li a:hover {
  color:aqua; 
}

header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
}

.header-text{
  margin-top: 10%;
  font-size: 30px;
}

.header-text h4{
  font-size: 60px;
  margin-top: 20px;
}

.header-text h4 span {
  color:aqua;
}


/* Splash Screen */
.intro {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 3s;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.logo {
  text-align: center;
  /* use inline block to allow us to move them seperately  */
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  /* animation settings */
  transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

body {
  background-color: #0a192f;
  color: white;
  
}

.introToMe {
  color: #8892b0;
}

/* ABOUT */
#about {
  /* 80 px top and bottom, 0 left and right */
  padding: 80px 0;
  color: #ababab;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  /* width of column 1 is 35% */
  flex-basis: 35%;
}

.about-col-1 img{
  width: 100%;
  border-radius: 15px;
}

.about-col-2{
  flex-basis: 60%;
}

.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: white; 
}

.tab-titles {
  display:flex;
  margin: 20px 0 40px;

}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span{
  color: #b54769;
  font-size: 14px;
}

.tab-contents{
  display: none;
}

.tab-contents.active-tab{
  display: block;
}