/* global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

.header-main {
  width: 100%;
  height: 40px;
  background: #0a192f;
  justify-content: space-between;
}

.header-main-nav {
  text-align: right;
  height: 100%; 
}

.header-main-nav ul {
  /* gets rid of bullet points */
  list-style: none; 
}


.header-main-nav li {
  display: inline-block; 
}


.header-main-nav li a {
  padding: 0 10px 0 10px;
  text-decoration: none;  
  color: white;
}

.header-main-nav li a:hover {
  color:#ff004f; 
}

header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
}

.header-text{
  margin-top: 10%;
  font-size: 30px;
}

.header-text h4{
  font-size: 60px;
  margin-top: 20px;
}

.header-text h4 span {
  color: #ff004f;
}


/* Splash Screen */
.intro {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 3s;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.logo {
  text-align: center;
  /* use inline block to allow us to move them seperately  */
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  /* animation settings */
  transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

/* allows nav bar to go to sections in page */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a192f;
  color: white;
  
}

.introToMe {
  color: #8892b0;
}

/* ABOUT */
#about {
  /* 80 px top and bottom, 0 left and right */
  padding: 80px 0;
  color: #ababab;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  /* width of column 1 is 35% */
  flex-basis: 35%;
}

.about-col-1 img{
  width: 100%;
  border-radius: 15px;
}

.about-col-2{
  flex-basis: 60%;
}

.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: white; 
}

.tab-titles {
  display:flex;
  margin: 20px 0 40px;

}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span{
  color: #b54769;
  font-size: 14px;
}

.tab-contents{
  display: none;
}

.tab-contents.active-tab{
  display: block;
}

/* PORTFOLIO */
#portfolio {
  padding: 50px 0;
}

.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  /* zoom in on hover */
  transition: transform 0.5s;
}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.5), #ff004f);
  border-radius: 10px;
  position: absolute;
  left:0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  /* show gradient and description on hover */
  transition: height 0.5s;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a{
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #ffffff;
  width: 60px;
  height: 60px;
  /* 0% is a square */
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  /* zoom in picture over hover */
  transform: scale(1.1);
}

.work:hover .layer {
  /* show gradient and description on hover */
  height: 100%;
}

.btn {
  display: block;
  /* auto left right top bottom 50px -> centered */
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
  transition: background .5s;
}

.btn:hover{
  background: #ff004f;
}

/* CONTACT */
.contact-left{
  flex-basis: 35%;
}

.contact-right{
  flex-basis: 60%;
}

.contact-left p{
  margin-top: 30px;
}

.contact-left p i{
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons{
  margin-top: 30px;
}

.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover{
  color: #ff004f;
  /* move icon up  */
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}

.contact-right form {
  width: 97.4%;
  
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  margin: 15px;
  padding: 15px;
  color: #ffffff;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2{
  position: absolute;
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;

}

#enter{
  margin-left: 15px;
}

#msg {
  color: #61b752;
  margin-top: -10px;
  margin-left: 15px;
  display: block;
}